* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.palindrome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.25rem;
}
.palindrome-wrapper input,
button {
  padding: 0.563rem;
}
button {
  background-color: #087f5b;
  border: none;
  border-radius: 0.563rem;
}
button:hover {
  background-color: #089168;
  cursor: pointer;
}

body {
  color: #343a40;
  font-family: 'Inter', sans-serif;
  line-height: 1;
}
.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  margin-top: 6.25rem;
  width: 50rem;
  border-collapse: collapse;
  font-size: 1.125rem;
}

th,
td {
  border: 1px solid #343a40;
  padding: 1rem 1.5px;
  text-align: left;
  margin-left: 9px;
}
thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
